.about__container {
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 10%;
}

.about__me {
    margin-top: 2rem;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary),
        transparent
    ); 
    display: grid;
    place-items: center;
}

.about__me-img {
    max-width: 24rem;
    max-height: 24rem;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.about__me-img:hover {
    transform: rotate(0deg);
}

.about__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
}

.about__card {    
    display: grid;
    grid-template-columns: 5% 10% auto;
    background: var(--color-bg-varient);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: .7rem;

    text-align: center;
}

.about__card:hover {
    background:transparent;
    border-color: var(--color-primary-varient);
    cursor: default;
}

.about__card div {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.about__icon {
    line-height: 50px;
    height: 50px;
    color: var(--color-primary);
    font-size: 1.4rem;
}

.about__card h5 {
    line-height: 50px;
    height: 50px;
    font-size: 0.96rem;
}

.about__card small {
    font-size: 0.85rem;
    color: var(--color-light);
}

.about__content p {
    margin: 2rem 0 2rem;
    color: var(--color-light);
    text-align: justify;
}

/* ====================== CTA ========================= */

.cta {
    margin-top: 2.5rem;
    flex-direction: flex;
    gap: 1.2px;
}

.cta > .btn {
    margin: -50rem 1.2rem 2.5rem -.2rem;
}

/* ================== Media Query (medium devices) ==================== */

@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }
}  

/* ================== Media Query (small devices) ==================== */

@media screen and (max-width: 600px) {
    .about__me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__cards {
        grid-template-columns: 1fr;
    }

    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }

    .about__card {    
        display: grid;
        grid-template-columns: 1fr;
    }
    
}  