header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* ====================== CTA ========================= */

.cta {
    margin-top: 2.5rem;
    flex-direction: flex;
    gap: 1.2px;
}

.cta > .btn {
    margin: -50rem .7rem 2.5rem;
}

/* ====================== Header Socials ========================= */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8;
    position: fixed;
    z-index: 2;
    left: 5%;
    bottom: 3rem;
}

.header__socials::after {
    content: " ";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ====================== ME (img) ========================= */
.imgs__container {
    margin-top: -30px;
    background: rgba(255, 255, 255, 0) ;
    width: 300px;
    height: 300px;
    border-radius: 30px;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
}

.floating__icons {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 80px;
    max-height: 80px;
    padding: 0;
}

.me {
    opacity: 20;
    width: 22rem;
    height: 25rem;
    position: absolute;
    left: calc(50% - 0.5 * 22rem);
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.fade-out {
    animation: fadeOut 1s linear;
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.fade-in {
    animation: fadeIn 1s linear;  
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/* ====================== Scroll Down ========================= */

.scroll__down {
    position: fixed;
    right: 3%;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 0.9rem;
}

/* ================== Media Query (medium devices) ==================== */

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }

    .header__socials {
        left:2rem;
    }

    .scroll__down{
        right: .7rem;
    }

    .floating__icons {
        width: 70px;
        height: 70px;
    }
}  

/* ================== Media Query (small devices) ==================== */

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header__socials, .scroll__down {
        display: none;
    } 

    .floating__icons {
        width: 50px;
        height: 50px;
    }
}  